body{
    /**
    background-color: var(--back);
    background-image: url(back.png);
    **/
    font-family: 'Roboto Mono';
    margin: 0;
    background-color: var(--back);

    transition: margin 1s, background-color 1s;

    font-size: 2rem;
}

a{
    color: var(--highlight);
}

a:hover{
    background-color: var(--secondary);
    color: var(--back);
}

b, h1, a{
    background-color: var(--secondary);
    color: var(--highlight);
}

ul{
    margin-top: 0;
}

h1{
    transition: height 1s, font-size 1s;
    margin: 0;
    overflow: hidden;

    font-size: 7rem;

    position: relative;
}


p, .paragraphContainer{
    margin: 2rem 2rem 2rem 2rem
}

button{
    color: var(--safe);
    background-color: black;
    border: none;
    border-radius: 0;

    padding: 5px 0 5px 0;

    font-size: 2rem;

    font-family: 'Roboto Mono';

    transition: opacity 1s, color 1s;
    transition-delay:1s;
    opacity: 0%;

    position: absolute;
    bottom: 0;
    left: 0;
}
